<extend name="Public/base" />

<block name="body">
	<div class="wrapper">
      <div class="bc">
          <ul id="breadcrumbs" class="breadcrumbs">
               <li class=""> <a href="{:U('Index/index')}">个人中心</a> </li>
               <li class="current"><a href="#">消息中心</a></li>
          </ul>
          <div class="clear"></div>
      </div>
      <div class="widget">
			<ul class="tabs">
				<li class="activeTab"><a href="#tab1">意见反馈</a></li>
				<li><a href="#tab2">网站消息</a></li>
			</ul>
			<div class="tab_container">
            	<div id="tab1" class="tab_content" style="padding: 20px;">
                	<form class="form validate" method="post" action="{:U('save')}">
			        	<fieldset>
			                <div class="widget">
			                    <div class="title"><img src="__IMG__/icons/dark/alert.png" alt="" class="titleIcon" /><h6>意见反馈</h6></div>

			                    <div class="formRow">
			                        <label>反馈标题:<span class='req'>*</span></label>
			                        <div class="formRight">
			                            <input type="text" class="validate[required]" value="" name='title' id="title" />
			                            <!-- <span class="formNote">用户会员等级根据此项排序</span> -->
			                        </div>
			                        <div class="clear"></div>
			                    </div>

			                    <div class="formRow">
			                        <label>反馈内容:</label>
			                        <div class="formRight"><textarea rows="8" cols="" name="content" placeholder="请填写您宝贵的意见"></textarea></div><div class="clear"></div>
			                    </div>

			                    <!-- <div class="formRow">
			                        <label>验证码:</label>
			                        <div class="formRight">
			                        	<span class="oneTwo">
			                        		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="20px">
			                        			<rect width="50" height="20" style="fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)" />
											  <text x="0" y="15" fill="red">I love SVG</text>
											</svg>
			                        	</span>
			                        	<span class='oneTwo'>
			                            	<input type="text" value="" name='title' />
			                        	</span>
			                        </div>
			                        <div class="clear"></div>
			                    </div> -->
			                    
			                    <div class="formSubmit"><input type="submit" value="提交" class="redB" /></div>
			                    <div class="clear"></div>
			                </div>
			                
			            </fieldset>
			        </form>       
                </div>
                <div id="tab2" class="tab_content">
                	
                </div>
            </div>

			<div class="clear"></div>
		</div>
    </div>
    </div>
</block>