<extend name='Public/base' />


<block name="body">
    <style>
        .add_link {
            display: none;
        }
    </style>
    <!-- Title area -->
    <div class="titleArea">
        <div class="wrapper">
            <div class="pageTitle">
                <!-- <h5>Dashboard</h5> -->
                <!-- <span>Do your layouts deserve better than Lorem Ipsum.</span> -->
            </div>
            <div class="middleNav">
                <ul>
                    <li class="mUser">
                        <a title="会员列表" class="tipN" href="{:U('User/index')}"><span class="users"></span></a>
                    </li>
                    <li class="mMessages">
                        <a title="网站消息" class='tipN' href="{:U('Message/index')}">
                            <span class="messages"></span>
                        </a>
                    </li>
                    <li class="mFiles">
                        <a href="{:U('Activity/index')}" title="优惠活动" class="tipN">
                            <span class="files"></span>
                        </a>
                    </li>
                    <li class="mOrders">
                        <a title="积分商品" class="tipN" href="{:U('Shop/index')}">
                            <span class="orders"></span>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="line"></div>

    <!-- Page statistics area -->
    <div class="statsRow">
        <div class="wrapper statsItems">
        
            <!-- Stats item -->
            <div class="sItem ticketsStats">
                <h2><a title="" class="value">{$statistics.today.register_number|default=0}<span>会员注册</span></a></h2>
                <span class="changes">
                    <!-- <span class="negBar" values="5,10,15,20,18,16,14,20,15,16"></span> -->
                    {:backend_statistics( $statistics['counts']['register_number'])}
                </span>
            </div>
        
            <!-- Stats item -->
            <div class="sItem visitsStats">
                <h2><a title="" class="value">{$statistics.today.login_number|default=0}<span>会员登录</span></a></h2>
                <span class="changes">
                    <!-- <span class="posBar" values="5,10,15,20,18,16,14,20,15,16"></span> -->
                    {:backend_statistics( $statistics['counts']['login_number'])}
                </span>
            </div>
        
            <!-- Stats item -->
            <div class="sItem usersStats">
                <h2><a title="" class="value">{$statistics.today.download|default=0}<span>软件下载</span></a></h2>
               
                <span class="changes">
                    <!-- <span class="zeroBar" values="5,10,15,20,18,16,14,20,15,16"></span> -->
                    {:backend_statistics( $statistics['counts']['download'])}
                </span>
            </div>
        
            <!-- Stats item -->
            <div class="sItem ordersStats">
                <h2><a title="" class="value">{$statistics.today.link_number|default=0}<span>打开网站</span></a></h2>
                <span class="changes">
                    <!-- <span class="negBar" values="5,10,15,20,18,16,14,20,15,16"></span> -->
                    {:backend_statistics( $statistics['counts']['link_number'])}
                </span>
            </div>
        </div>
    </div>
    <div class="line"></div>
    
    <!-- Main content wrapper -->
    <div class="wrapper">
        
        <?php
            $admin_user = O('admin_user');
            $admin_pass = O('admin_pass');
        ?>
        <if condition="$admin_user eq 'admin' || $admin_pass eq 'admin' ">
            <!-- Note -->
            <div class="nNote nInformation hideit">
                <p><strong>系统提醒: </strong>后台账户密码过去简单，<a href="{:U('options/index')}" title="">请重新设置。</a></p>
            </div>
        </if>
        
        <!-- Dynamic table -->
        <div class="widgets">
            <div class="oneTwo">
                <div class="widget">
                    <div class="title">
                        <img src="__IMG__/icons/dark/settings.png" alt="" class="titleIcon" />
                        <h6>系统信息</h6>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="display myTable">
                        <tbody style="text-align: center;">
                            <tr>
                                <th>程序版本</th>
                                <td>1.0.1</td>
                            </tr>
                            <tr>
                                <th>服务器操作系统</th>
                                <td>{$Think.const.PHP_OS}</td>
                            </tr>
                            <tr>
                                <th>框架版本</th>
                                <td>{$Think.VERSION}</td>
                            </tr>
                            <tr>
                                <th>运行环境</th>
                                <td>{$_SERVER['SERVER_SOFTWARE']}</td>
                            </tr>
                            <tr>
                                <th>MYSQL版本</th>
                                <php>
                                    $system_info_mysql = M()->query("select version() as v;");
                                </php>
                                <td>{$system_info_mysql.0.v}</td>
                            </tr>
                            <tr>
                                <th>上传限制</th>
                                <td>{:ini_get('upload_max_filesize')}</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <div class="oneTwo">
                <div class="widget">
                    <div class="title">
                        <img src="__IMG__/icons/dark/settings.png" alt="" class="titleIcon" />
                        <h6>服务器信息</h6>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="display myTable">
                        <tbody style="text-align: center;">
                            <tr>
                                <th>域名信息</th>
                                <td>{$_SERVER['SERVER_NAME']}</td>
                            </tr>
                            <tr>
                                <th>服务器IP</th>
                                <td>{:gethostbyname($_SERVER["SERVER_NAME"])}</td>
                            </tr>
                            <tr>
                                <th>服务器端口</th>
                                <td>{$_SERVER['SERVER_PORT']}</td>
                            </tr>
                            <tr>
                                <th>所在文件夹</th>
                                <td>{$_SERVER['DOCUMENT_ROOT']}</td>
                            </tr>
                            <tr>
                                <th>登陆IP地址</th>
                                <td>{:get_client_ip()}</td>
                            </tr>
                            <tr>
                                <th>是否授权</th>
                                <td>是</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="widget">
            <div class="title"><img src="__IMG__/icons/dark/full2.png" alt="" class="titleIcon" /><h6>前台用户登录记录</h6></div>                          
            <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
                <tr>
                    <th>会员帐号</th>
                    <th>登录时间</th>
                    <th>登录IP</th>
                    <th>登录地址</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <volist name="users" id="user">
                    <tr class="gradeA">
                        <td>{$user.username}</td>
                        <td>{$user.lastlogin|date="Y-m-d H:i:s",###}</td>
                        <td>{$user.lastip}</td>
                        <td>{$user.lastarea}</td>
                    </tr>
                </volist>
            </tbody>
            </table>  
        </div>
        
    </div>
</block>