<extend name='Public/base' />

<block name="body">
    <!-- Main content wrapper -->
    <div class="wrapper" style="margin-top: 50px;">
        <!-- Note -->
        <volist name="messages" id="msg">
            <eq name="msg.type" value='1'>
                <div class="nNote nInformation hideit">
                    <a href="{:U('Message/index')}">
                        <p><strong>网站提示: </strong>{$msg.title}</p>
                    </a>
                </div>
            <else />
                <div class="nNote nWarning hideit">
                    <a href="{:U('Message/index')}">
                        <p><strong>紧急通知: </strong>{$msg.title}</p>
                    </a>
                </div>
            </eq>
        </volist>
        <div class="widget">
            <div class="title"><span class="titleIcon"><img src="__IMG__/icons/topnav/settings.png"></span><h6>系统</h6></div>
            <table class="sTable withCheck mTable" width="100%" style="text-align: center;">
                <?php
                    $before_user = session('before_user');
                ?>
                <tr>
                    <td>
                        上次登录时间：
                    </td>
                    <td>
                        {$before_user.lastlogin|date='Y-m-d H:i',###}
                    </td>

                    <td>
                        上次登录IP：
                    </td>
                    <td>
                        {$before_user.lastip}
                    </td>

                    <td>
                        上次登录地址：
                    </td>
                    <td>
                        {$before_user.lastarea}
                    </td>
                </tr>
                <tr>
                    <td>
                        本次登录时间：
                    </td>
                    <td>
                        {$_user.lastlogin|date='Y-m-d H:i',###}
                    </td>

                    <td>
                        本次登录IP：
                    </td>
                    <td>
                        {$_user.lastip}
                    </td>

                    <td>
                        本次登录地址：
                    </td>
                    <td>
                        {$_user.lastarea}
                    </td>
                </tr>
                <tr>
                    <td>
                        签到天数：
                    </td>
                    <td>
                        {:signSumDay()}天
                    </td>
                    <td>
                        今日签到：
                    </td>
                    <td>
                        <?php 
                            if( $hasSign == true ){
                                echo "已签到";
                            } else {
                                echo "未签到，<a href='".U('Days/index')."'>去签到</a>";
                            }
                        ?>
                    </td>
                    <td>
                        用户经验：
                    </td>
                    <td>
                        {$_user.level}
                    </td>
                </tr>
            </table>
        </div>
        <div class="widget">
            <div class="title"><h6>最新优惠活动</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck display myTable">
              <thead>
                  <tr>
                    <th>活动标题</th>
                    <th>所需等级</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                  </tr>
              </thead>
              <tbody>
                <volist name="activitys" id="activity">
                    <tr class="gradeA">
                        <td class="center">{$activity.title}</td>
                        <td class="center">{$activity.integral|getGroupTitleByIntegral}</td>
                        <td class="center">{$activity.starttime|date="Y-m-d",###}</td>
                        <td class="center">{$activity.endtime|date="Y-m-d",###}</td>
                    </tr>
                </volist>         
              </tbody>
          </table>
        </div>
    </div>
</block>