<extend name="Public/base" />

<block name="body">
<style type="text/css">
	.body { padding: 0 !important; }
	.body p { padding: 0 !important; }
</style>
	<div class="wrapper">
      <div class="bc">
          <ul id="breadcrumbs" class="breadcrumbs">
               <li class=""> <a href="{:U('Index/index')}">个人中心</a> </li>
               <li class="current"><a href="#">查看活动</a></li>
          </ul>
          <div class="clear"></div>
      </div>
	  <div class="widget">
			<ul class="tabs">
				<volist name="groups" id="group">
					<eq name="i" value='1'>
						<li class="activeTab"><a href="#tab{$group.id}">{$group.title}</a></li>
					<else />
						<li><a href="#tab{$group.id}">{$group.title}</a></li>
					</eq>
				</volist>
			</ul>
			<div class="tab_container">
				<volist name="groups" id="group">
					<if condition="$group['integral'] lt $_nextGroup['integral'] || empty( $_nextGroup)">
						<?php $activitys = getActivityByIntegral( $group['id'] );?>
						<notempty name="activitys">
			                <div id="tab{$group.id}" class="tab_content">
			                	<volist name="activitys" id="activity">
				                	<div class="toggle" style="margin: 0;">
					                    <div class="title closed normal">
					                    	<notempty name="activity.img">
					                    		<img src="{$activity.img|getImg}">
					                    	<else />
						                    	<h6>{$activity.title}</h6>
					                    	</notempty>
					                    </div>
					                    <div class="body">{$activity.content|htmlspecialchars_decode}</div>
					                </div>
			                	</volist>
			                </div>
		                <else />
		                	<div id="tab{$group.id}" class="tab_content">
			                	<p style="padding: 20px;">暂无活动</p>
			                </div>
		                </notempty>
					<else />
						<div id="tab{$group.id}" class="tab_content">
		                	<p style="padding: 20px;">暂无权限查看</p>
		                </div>
					</if>
                </volist>
            </div>

			<div class="clear"></div>
		</div>
    </div>
</block>