<extend name="Public/base" />

<block name="body">

	 <!-- Main content wrapper -->
    <div class="wrapper">
        <div class="bc">
            <ul id="breadcrumbs" class="breadcrumbs">
                 <li class=""> <a href="{:U('Index/index')}">控制中心</a> </li>
                 <li class=""> <a href="{:U('index')}">分组管理</a> </li>
                 <li class="current"><a href="#">分组添加</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Validation form -->
        <form class="form validate" method="post" action="{:U('save')}">
            <input type="hidden" name='id' value="{$vo.id}">
        	<fieldset>
                <div class="widget">
                    <div class="title"><img src="__IMG__/icons/dark/alert.png" alt="" class="titleIcon" /><h6>会员分组表单</h6></div>
                    <div class="formRow">
                        <label>分组名称:<span class="req">*</span></label>
                        <div class="formRight">
                            <input type="text" class="validate[required]" name="title" id="req" value="{$vo.title}"/>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>分组积分:</label>
                        <div class="formRight">
                            <input type="text" value="{$vo.integral|default=0}" name='integral' />
                            <span class="formNote">用户积分超过当前值自动升级为下个等级</span>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>显示图片:</label>
                        <div class="formRight">
                            <input type="text" value="{$vo.img|default='level1.png'}" name='img' class='img' />
                            <span class="formNote"><img src="__IMG__/level1.png" id="preview"></span>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>分组排序:</label>
                        <div class="formRight">
                            <input type="text" value="{$vo.order|default=0}" name='order' />
                            <!-- <span class="formNote">用户会员等级根据此项排序</span> -->
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>等级福利:</label>
                        <div class="formRight"><textarea rows="8" cols="" id='editor' name="privilege" placeholder="可以为空">{$vo.privilege}</textarea></div><div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>是否开启:<span class="req">*</span></label>
                        <div class="formRight">
                            <div class="floatL" style="margin: 2px 0 0 0;">

                            <input type="radio" id="radioReq" name="status" class="validate[required]" data-prompt-position="topRight:102" value='1' checked="checked" /><label for="radioReq">开启</label>
                            <input type="radio" id="radioReq2" name="status" class="validate[required]" data-prompt-position="topRight:102" value='2' <eq name="vo.status" value='2'> checked='checked'</eq> /><label for="radioReq2">关闭</label>

                            </div>
                        </div><div class="clear"></div>
                    </div>
                    
                    <div class="formSubmit"><input type="submit" value="提交" class="redB" /></div>
                    <div class="clear"></div>
                </div>
                
            </fieldset>
        </form>       
    </div>
    <script type="text/javascript">
        $(".img").change( function()
        {
            var img_path = "__IMG__";
            $('#preview').attr('src',img_path+'/'+$(this).val());
        })
    </script>
</block>