<extend name="Public/base" />

<block name="body">
    <div class="wrapper">
    <div class="bc">
        <ul id="breadcrumbs" class="breadcrumbs">
             <li class="">
                  <a href="{:U('Index/index')}">控制中心</a>
             </li>
             <li class="current"><a href="#">消息列表</a></li>
        </ul>
        <div class="clear"></div>
    </div>
      <div class="widget">
        <div class="title">
          <h6>消息列表</h6>
          <h6 class='fr'>
            <a class='' href="{:U('add')}">＋发送消息</a>
          </h6>
          <h6 class="fr">
            <form class='form'> 
                <input type="text" class='searchInput' name="title" placeholder="请输入消息标题" value="{$_GET['title']}" /> 
                <input type='submit' class='redB searchButton' value='搜索'>
            </form>
          </h6>
        </div>
          <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck display myTable">
              <thead>
                  <tr>
                    <th>消息标题</th>
                    <th>接受用户</th>
                    <th>发送时间</th>
                    <th>操作</th>
                  </tr>
              </thead>
              <tbody>
                <volist name="lists" id="vo">
                    <tr class="gradeA">
                        <td class="center searchContent">{$vo.title}</td>
                        <td class="center">
                            <eq name="vo.touid" value="0">
                                全站会员
                            <else />
                                {$vo.touid|getUsername}
                            </eq>                            
                        </td>
                        <td class="center">{$vo.addtime|date='Y-m-d',###}</td>
                        <td class="center">
                            <a class='confirm' href="{:U('del',array('id'=>$vo['id']))}">删除</a> &nbsp;&nbsp;
                            <a href="{:U('add',array('id'=>$vo['id']))}">修改</a> &nbsp;&nbsp;
                        </td>
                    </tr>
                </volist>
              </tbody>
              <tfoot>
                <tr>
                    <td colspan="10" class='pagination'>
                        {$showPage}
                    </td>
                </tr>
              </tfoot>
          </table>
        </div>
    </div>
</block>