<extend name="Public/base" />

<block name="body">

	<div class="wrapper">
	<div class="bc">
	    <ul id="breadcrumbs" class="breadcrumbs">
	         <li class="">
	              <a href="{:U('Index/index')}">控制中心</a>
	         </li>
	         <li class="current"><a href="#">会员列表</a></li>
	    </ul>
	    <div class="clear"></div>
	</div>
	  <div class="widget">
        <div class="title">
		  <h6>会员列表</h6>
		  <h6 class='fr'>
		  	<a class='' href="{:U('add')}">＋添加</a>
		  </h6>
		  <h6 class="fr">
		  	<form class='form'> 
                <select name='groupid'>
                    <option value="">会员等级</option> 
                    <volist name="groups" id="group">
                        <eq name="group.id" value="$_GET['groupid']">
                           <option value="{$group.id}" selected="selected">{$group.title}</option> 
                        <else />
                           <option value="{$group.id}">{$group.title}</option> 
                        </eq>
                    </volist>
                </select>
		  		<input type="text" class='searchInput' name="username" placeholder="请输入会员名称" value="{$_GET['username']}" /> 
		  		<input type='submit' class='redB searchButton' value='搜索'>
		  	</form>
		  </h6>
        </div>
          <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck display myTable">
              <thead>
                  <tr>
                    <th>会员名称</th>
		            <th>会员等级</th>
		            <th>会员姓名</th>
		            <th>会员积分</th>
		            <th>注册时间</th>
		            <th>最后登录时间</th>
		            <th>会员状态</th>
		            <th>操作</th>
                  </tr>
              </thead>
              <tbody>
	        	<volist name="lists" id="vo">
	                <tr class="gradeA">
		       			<td class="center searchContent">{$vo.username}</td>
		       			<td class="center">{$vo.level|getUserGroupTitle}</td>
		       			<td class="center">{$vo.name|default='未填写'}</td>
		       			<td class="center">{$vo.rank}</td>
		       			<td class="center">{$vo.addtime|date='Y-m-d H:i',###}</td>
		       			<td class="center">{$vo.lastlogin|date='Y-m-d H:i',###}</td>
		       			<td class="center">{$vo.status|statusTitle}</td>
		       			<td class="center">
		       				<a class='confirm' href="{:U('del',array('id'=>$vo['id']))}">删除</a> &nbsp;&nbsp;
		       				<a href="{:U('add',array('id'=>$vo['id']))}">修改</a> &nbsp;&nbsp;
		       			</td>
			        </tr>
	        	</volist>
              </tbody>
              <tfoot>
              	<tr>
              		<td colspan="10" class='pagination'>
              			{$showPage}
              		</td>
              	</tr>
              </tfoot>
          </table>
        </div>
	</div>
</block>